<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../node_modules/css-aspect-ratio/css-aspect-ratio.css"/>
    <link rel="stylesheet" href="../CSS/ATM.css">
    <link rel="shortcut icon" type="image/x-icon" href="../FAVICONS/huntington%20favicon%2016.jpg" />
    <link rel="stylesheet" href="../CSS/Normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="This is Huntington's mobile banking progressive web application. We hope that you find
    this application helpful."/>
    <title>Huntington Online Banking</title>
</head>
<body>
<div id="outer">
    <div id="top-logo">
        <div id="top-toppy">
        <img src="../IMAGES/Huntington-Logo.png" alt="Huntington Bank" height="100" width="535"/>
        </div>
    </div>
    <div id="bottom">
        <div class="bottom-1-2-3">
            <h1 id="welcome">Welcome to Huntington bank</h1>
        </div>
        <div class="bottom-1-2-3">
            <a class="boxes">
                <p id="Balance">Balance</p>
            </a>
            <a class="boxes">
                <p id="Donate">Donate</p>
            </a>
            <a class="boxes">
                <p id="Deposit">Deposit</p>
            </a>
        </div>
        <div class="bottom-1-2-3">
            <a class="boxes">
                <p id="Withdraw">Withdraw</p>
            </a>
            <a class="boxes">
                <p id="Transfer">Transfer</p>
            </a>
            <a class="boxes">
                <p id="Login">Log in</p>
            </a>
        </div>
    </div>
    <div id="bottom-er">
        <div>
            <p>To contact a live assistant call 231-343-7564</p>
        </div>
    </div>
</div>
<script src="../JAVASCRIPTS/ATM.js" type="module"></script>
</body>
</html>